.navcol {
  background-color: #f52349;
}
.jumbotron {
  padding-top: 7rem;
  background-color: #f52349;
}
/* .body {
  min-height: 1000px;
} */
.head {
  background-color: #fdd3db;
}

.set {
  background-color: #87ceeb;
  justify-content: center;
}
.slide {
  justify-content: center;
  height: 30rem;
}
.teks {
  font-style: italic;
  color: blue;
  font-size: 2rem;
}
.judul {
  font-weight: bold;
}
